.product-slide {
    position: relative;
    width: 100%;
    height: 595px; /* 調整為新高度 */
    margin: auto;
    overflow: hidden;
    background-color: #eee;
    /* margin-top: 10px; */
  }
  
  .product-slide-track {
    display: flex;
    /* width: calc(100vw*5); */
    overflow: hidden;
  }
  
  .product-slide-component {
    width: calc(100vw); 
    height: 100%; 
    /* object-fit: contain;  */
    /* flex-shrink: 0;  */
  }
  
  .product-slide-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
  }
  
  .product-slide-button-left {
    left: 10px;
  }
  
  .product-slide-button-right {
    right: 10px;
  }
  
  .product-slide-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 2;
  }
  
  .product-slide .indicator {
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 0;
  }
  
  .indicator.active {
    background-color: rgba(255, 255, 255, 1);
  }
  